@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: .14rem;
}
a{
	text-decoration: none;
	color:#000;
}
li{
	list-style: none;
}
html,body,.box{
	width: 100%;
	height: 100%;
}
html{
	font-size: 625%;
}
@mixin center ($w:center,$h:center){
	display: flex;
	justify-content: $w;
	align-items: $h;
}
.box{
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
}
section{
	width: 100%;
	flex:1;
	overflow-y: scroll;
	.banner{
		width: 100%;
		position: relative;
		.head{
			z-index: 900;
			position: absolute;
			left:0;
			top:0;
			@include center (space-between,center);
			width: 100%;
			height: .4rem;
			padding:.05rem .05rem;
			a{
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size:.12rem;
				color:#fff;
			}
			.search{
				width: 80%;
				background: #e6e7e1;
				border-radius:.15rem;
				@include center ();
				a{
					color:#bab9b4;
					font-size:.15rem;
					padding:0 .05rem;
				}
				input{
					width: 90%;
					padding: .05rem 0;
					background: none;
					border:none;
					outline: none;
				}
			}
		}
		.lunbo{
			width: 100%;
			position: relative;
			ul{
				width: 100%;
				display: flex;
				li{
					width: 100%;
					display: none;
					img{
						width: 100%;
						height: auto;
						display: block;
					}
					&:nth-of-type(1){
						display: block;
					}
				}
			}
			ol{
				position: absolute;
				bottom:.1rem;
				left:50%;
				transform: translateX(-50%);
				display: flex;
				li{
					width: .07rem;
					height: .07rem;
					border-radius: 50%;
					background: #e7e2de;
					margin-left: .05rem;
					&:nth-of-type(3){
						background:#ff5e48;
					}
					&:hover{
						background:#ff5e48;
					}
				}
			}
		}
	}
	.nav{
		width: 100%;
		background: #fff;
		display: flex;
		flex-wrap:wrap;
		a{
			width: 20%;
			padding:.1rem 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			i{
				width: .4rem;
				height: .4rem;
				background: #fce348;
				border-radius: 50%;
				@include center ();
				color:#fff;
				font-size:.2rem;
			}
			span{
				color:#2e2e2e;
				margin-top: .05rem;
			}
			&:nth-of-type(2){
				i{
					background: #ffce57;
				}
			}
			&:nth-of-type(3){
				i{
					background: #5de8be;
				}
			}
			&:nth-of-type(4){
				i{
					background: #63e3ee;
				}
			}
			&:nth-of-type(5){
				i{
					background: #6fc1fb;
				}
			}
			&:nth-of-type(6){
				i{
					background: #ee95f1;
				}
			}
			&:nth-of-type(7){
				i{
					background: #b884f3;
				}
			}
			&:nth-of-type(8){
				i{
					background: #b3ef41;
				}
			}
			&:nth-of-type(9){
				i{
					background: #79ff8e;
				}
			}
			&:nth-of-type(10){
				i{
					background: #fd8a85;
				}
			}
		}
	}
	.list{
		display: flex;
		margin-top: .13rem;
		background: #fff;
		.list_left{
			position: relative;
			border-right:.01rem solid #f1f1f1;
			width: 38%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			b{
				a{
					color:#fff;
					font-size:.15rem;
					background: #ec5230;
					padding:.01rem .05rem;
					border-bottom-right-radius: .05rem;
				}
				i{
					font-weight: 400;
					font-size:.12rem;
					font-style:normal;
				}
			}
			span{
				margin-top: .1rem;
				display: flex;
				margin-left: .1rem;
				em{
					@include center ();
					font-weight: 100;
					font-size: .1rem;
					background: #222222;
					padding:0 .03rem;
					font-style: normal;
					color:#fff;
					border-radius:.03rem;
				}
				strong{
					color:#222;
					padding:0 .01rem;
				}
			}
			img{
				width: 52%;
				height: auto;
				margin-left: .15rem;
				padding:.15rem 0;
				margin-top: .25rem;
			}
			.price{
				width: .4rem;
				height: .4rem;
				border-radius: 50%;
				background: #f95c49;
				color:#fff;
				font-size:.11rem;
				@include center ();
				position: absolute;
				top:35%;
				right:.1rem;
			}
		}
		.list_right{
			flex:1;
			display: flex;
			flex-direction: column;
			.list_right_top{
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: .01rem solid #f3f3f3;
				span{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					padding-bottom: .2rem;
					padding-left: .1rem;
					i{
						color:#e13833;
						font-weight: 800;
						font-size: .16rem;
					}
					a{
						font-size:.12rem;
						color:#8d8d8b;
						margin-top: .05rem;
					}
				}
				img{
					width: 30%;
					height: auto;
					padding:.1rem 0;
					margin-right: .2rem;
				}
			}
			.list_right_down{
				flex:1;
				display: flex;
				.sub_list_down{
					flex:1;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					padding: .05rem 0;
					border-right: .01rem solid #f1f1f1;
					b{
						color:#2a2a2a;
					}
					span{
						color:#a2a2a2;
						font-size:.12rem;
						font-weight: 100;
					}
					img{
						width: 30%;
						height: auto;
					}
					&:nth-of-type(2){
						img{
							width: 37%;
							height: auto;
						}
					}
					&:nth-of-type(3){
						border:none;
						img{
							width: 45%;
							height: auto;
						}
					}
				}
			}
		}
	}
	.mid{
		background: #fff;
		margin-top: .12rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 .05rem;
		span{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			i{
				font-style:normal;
				color:#333333;
			}
			b{
				font-weight: 200;
				color:#cbcbcb;
				font-size:.1rem;
				em{
					font-size:.13rem;
					padding: .05rem 0;
					font-style: normal;
					&:nth-of-type(1){
						border-bottom:.03rem solid #e8442b;
					}
					&:nth-of-type(2){
						margin-left: .04rem;
					}
				}
			}
			a{
				margin-top: .08rem;
				color:#9a9a9a;
				font-weight: 200;
			}
		}
		img{
			width: 55%;
			height: auto;
			padding: .1rem 0;
		}
	}
	.super{
		width: 100%;
		display: flex;
		margin-top: .12rem;
		background: #fff;
		border-bottom:.01rem solid #f1f1f1;
		.sub_surper{
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			img{
				width: 55%;
				height: auto;
				padding: .2rem 0;
			}
			.sub_super_down{
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 90%;
				border-top:.01rem dashed #dbdbdb;
				padding: .05rem 0;
				a{
					width: 100%;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
				span{
					padding: .02rem 0;
					width: 100%;
					@include center (space-between,center);
					b{
						strong{
							color:#f94340;
							font-size:.13rem;
						}
						s{
							color:#3b3b3b;
							font-size:.1rem;
							font-weight: 200;
						}
					}
					i{
						width: .25rem;
						height: .25rem;
						background: #fe4737;
						color:#fff;
						border-radius:50%;
						@include center ();
						font-weight: 200;
					}
				}
			}
			&:nth-of-type(1){
				border-right: .01rem solid #eeeeee;
				position: relative;
				img{
					margin-top: .3rem;
				}
				>b{
					color:#3e3d3b;
					font-size: .15rem;
					position: absolute;
					top:.07rem;
					left:.05rem;
				}
			}
			&:nth-of-type(2){
				img{
					width: 55%;
					height:auto;
				}
			}
		}
	}
	.main_list{
		width: 100%;
		display: flex;
		flex-wrap:wrap;
		background: #fff;
		.sub_main_list{
			width: calc(100%/3);
			display: flex;
			flex-direction: column;
			align-items: center;
			border-right: .01rem solid #f0f0f0;
			border-bottom: .01rem solid #f0f0f0;
			&:nth-of-type(3),&:nth-of-type(6){
				border-right:none;
			}
			&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6){
				border-bottom:none;
			}
			&:nth-of-type(5){
				img{
					width: 62%;
					height: auto
				}
			}
			&:nth-of-type(4){
				img{
					width: 57%;
					height: auto
				}
			}
			&:nth-of-type(6){
				img{
					width: 70%;
					height: auto
				}
			}
			&:nth-of-type(3){
				img{
					width: 57%;
					height: auto
				}
			}
			&:nth-of-type(2){
				img{
					width: 74%;
					height: auto
				}
			}
			img{
				width: 82%;
				height:auto;
				padding: .2rem 0;
			}
			.sub_main_list_down{
				display: flex;
				flex-direction: column;
				width: 90%;
				margin-left: 5%;
				flex:1;
				a{
					width: 100%;
					display: -webkit-box;
					-webkit-box-orient:vertical;
					-webkit-line-clamp:2;
					overflow:hidden;
					word-break:break-all;
					font-size: .1rem;
					color:#303030;
				}
				b{
					color:#f04b1b;
					font-size:.12rem;
				}
				span{
					width: 100%;
					padding: .05rem 0;
					@include center (space-between,center);
					s{
						color:#434343;
						font-size:.1rem;
					}
					i{
						width: .25rem;
						height: .25rem;
						background: #ff3e40;
						border-radius:50%;
						color:#fff;
						@include center ();
					}
				}
			}
		}
	}
}

footer{
	width: 100%;
	height: .4rem;
	border-top:.01rem solid #e5e5e5;
	@include center (space-between,center);
	a{
		width: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
		color:#434343;
		i{
			font-size:.2rem!important;
		}
		span{
			font-size:.1rem;
		}
		&:hover{
			color:#f94a35;
		}
		&:nth-of-type(3){
			color:#f94a35;
		}
	}
}